input{
    width: 220px;
}

td{
    color: green;
}
body{
    background-color: rgb(240, 240, 240);
}
.buttonselecter{
    display: flex;
}
#matrixTable {
    border-collapse: collapse;
    width: 25%;
}

#matrixTable th,
#matrixTable td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}